body {
	text-align: center;
	margin: 0;
}

header {
	background-color: #F15B31;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	padding: 20px 0;
}

main {
	width: 850px;
	margin: 35px auto;
}

img { 
	margin: 40px 8px;
}

h1, h2, a {
	font-family: "Raleway";
	letter-spacing: 1px;
}

h1, h2 {
	color: #0D2C40;
}

h1 {
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

h2 {
	font-weight: 600;
	font-size: 20px;
}

a {
	color: #0D2C40;
	font-weight: 600;
	font-size: 18px;
	margin: 0 20px;
}

p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}
