body {
	text-align: center;
	margin: 0;
}

header {
	background-color: #F15B31;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	padding: 20px 0;
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 8px;
}

h1, h2, a {
	font-family: "Raleway";
	letter-spacing: 1px;
}

h1, h2 {
	color: #0D2C40;
}

h1 {
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

h2 {
	font-weight: 600;
	font-size: 20px;
}

a{
	color: #0D2C40;
	font-weight: 600;
	font-size: 18px;
	margin: 0 20px;
}

nav a {
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

nav a:hover {
	border-color: white;
}

p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.challenge, .contact {
	display: inline-block;
	width: 50%;
	float: left;
}

footer {
	text-transform: uppercase;
	font-family: 'Raleway';
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .8em;
	font-weight: 500;

}

.copyright {
	float: left;
}

.message {
	float: right;
}

.name {
	color: #F15B31;
	font-weight: 700;
}